@font-face {
  font-family: "iconfont"; /* Project id 4641824 */
  src: url('//at.alicdn.com/t/c/font_4641824_mz8om5ji6kq.woff2?t=1722594370528') format('woff2'),
       url('//at.alicdn.com/t/c/font_4641824_mz8om5ji6kq.woff?t=1722594370528') format('woff'),
       url('//at.alicdn.com/t/c/font_4641824_mz8om5ji6kq.ttf?t=1722594370528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaozhan:before {
  content: "\e632";
}

.icon-dianying:before {
  content: "\e605";
}

.icon-biaoqian:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-yinyue:before {
  content: "\e601";
}

.icon-fenlei:before {
  content: "\e811";
}

.icon-guanyu:before {
  content: "\e656";
}

.icon-guidang:before {
  content: "\e62b";
}

.icon-shouye:before {
  content: "\efed";
}

.icon-youlian:before {
  content: "\e609";
}

.icon-wenzhang:before {
  content: "\e641";
}

.icon-yingyinyule:before {
  content: "\e646";
}

.icon-liuyanban:before {
  content: "\e65e";
}
